{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- $img := or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
  {{- if strings.HasSuffix $path ".png" -}}
    {{- $webp := printf "%s.webp" (strings.TrimSuffix ".png" $path) -}}
    {{- with or (.PageInner.Resources.Get $webp) (resources.Get $webp) -}}
      {{- $img = . -}}
    {{- end -}}
  {{- end -}}
  {{- with $img -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}
<label class="lightbox">
  <input type="checkbox" class="lightbox-state">
  <img src="{{ $src }}" alt="{{ .Text }}"{{ with .Title }} title="{{ . }}"{{ end }}>
  <span class="lightbox-overlay"><img src="{{ $src }}" alt="{{ .Text }}"></span>
</label>
